{% extends "base.html" %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}
<h1>{{ project.title }}</h1>
<p>{{ project.description }}</p>

{% if project.technologies.all %}
  <h3>Built With:</h3>
  <ul>
    {% for tech in project.technologies.all %}
      <li>
        {% if tech.link %}
          <a href="{{ tech.link }}" target="_blank">{{ tech.name }}</a>
        {% else %}
          {{ tech.name }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if project.github_link %}
  <p><a href="{{ project.github_link }}" target="_blank">GitHub</a></p>
{% endif %}
{% if project.demo_link %}
  <p><a href="{{ project.demo_link }}" target="_blank">Live Demo</a></p>
{% endif %}

<h3>Screenshots</h3>
{% for image in project.images.all %}
  <img src="{{ image.image.url }}" style="max-width: 400px;">
{% endfor %}
{% endblock %}
